.layout {
    width: 100%;
    padding: 0px;
    border-radius: 16px;
}

.layout.error {
    display: flex;
    background: var(--bg_error);
    align-items: center;
}

.layout.success {
    background: var(--bg_success);
}

.layout .text_error,
.layout .text_success {
    padding: 16px 32px;
   /* white-space: nowrap;
    text-overflow: Ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}

.layout .text_error{
    width: calc(100% - 32px);
}

.layout .icon_error {
    margin: 0px 24px;
    padding:  8px 8px;
    cursor: pointer;
}