@using System;
@using ParameterControl.Models.Filter;
@model FilterViewModel;

@{
    ViewData["Title"] = "Filtrar Usaurios";
}

<partial name="_Menu" />

<div class="box_filter">
    <div class="bg__blur"></div>
    <div class="form__container">
        <div class="card__container">
            <div class="header_form">
                <img src="/images/iconApple.png" />
                <h1>Filtar Tabla Usuarios</h1>
            </div>
            <form asp-controller="Users" asp-action="FilterUsers">
                <div class="content_filter flex_box">
                    <div class="filter_primary">
                        <div id="field_primary" class="field">
                            <label asp-for="ColumValue" class="name font_normal" for="select_filter">Filtrar Por :</label>
                            <div id="input_select" class="input">
                                <input class="input_select" id="input_select_filter" name="input_select_filter" placeholder="Seleccione una opción" onclick="showOptions()" readonly />
                                <input class="oculte" id="input_select_filter_value" asp-for="ColumValue" />
                                <i class="icon icon_select icon_153"></i>
                            </div>
                            <div id="options" class="options">
                                <ul class="options_list">
                                    <li onclick="selectOption('@null', '@null')" class="option">
                                        <p class="option_text">Seleccione una opción</p>
                                    </li>
                                    @foreach (var Colunm in Model.Rows)
                                    {
                                        <li onclick="selectOption('@Colunm.Name', '@Colunm.Value')" class="option">
                                            <p class="option_text">@Colunm.Name</p>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div id="select_helper" class="select_helper" onclick="showOptions()"></div>
                        </div>
                    </div>

                    <div class="filter_secondary">
                        <div id="field_secundary" class="field">
                            <div id="input" class="input">
                                <input id="input_filter" name="ValueFilter" asp-for="ValueFilter" placeholder="Valor filtro" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn_container">
                    <a class="button button_secondary" asp-controller="Users" asp-action="Users"><p class="text font_bold">Cancelar</p></a>
                    <button type="submit" class="button button_primary"><p class="text font_bold">Filtrar</p></button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
    <script src="~/js/helpers/Filter.js"></script>
}