    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/policies/policies.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Actions/filter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Actions/actions.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Actions/createAction.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Actions/editAction.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Actions/viewAction.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Actions/desactiveAction.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu/menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/helpers/helpers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ParameterControl.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/conciliations/conciliations.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/parameters/parameters.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/scenerios/scenarios.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/users/users.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/conciliationExecution/conciliationExecution.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/results/results.css" asp-append-version="true" />



</head>
<body>
    <div class="">
        <main role="main" class="body">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
