﻿
@{
}
<header class="">
    <nav class="menu">
        <section class="menu__container">
            <div class="menu__hamburguer">
                <img src="~/images/menu.svg" class="menu__img">
                <img src="~/images/claro_whpng.png" class="claro_logo_re" />
            </div>
            <a href="#" class="menu_logo"><img src="~/images/claro_whpng.png" class="claro_logo" /></a>
            <div class="
">
                <a asp-area="" asp-controller="Login" asp-action="login" class="icon_032 menu_icon"></a>
            </div>
            <ul class="menu__links">


                <li class="menu__item menu__item--show">
                    <a href="#" class="menu__link">Admistrativo <img src="~/images/arrow.svg" class="menu__arrow"></a>

                    <ul class="menu__nesting">
                        <li class="menu__inside menu__link--hover">
                            <a asp-controller="Policies" asp-action="Policies" class="menu__link menu__link--inside menu__link--hover">Politicas</a>
                        </li>
                        <li class="menu__inside">
                            <a asp-controller="Conciliations" asp-action="Conciliations" class="menu__link menu__link--inside">Conciliaciones</a>
                        </li>
                        <li class="menu__inside">
                            <a asp-controller="Scenarios" asp-action="Scenarios" class="menu__link menu__link--inside">Escenarios</a>
                        </li>
                        <li class="menu__inside">
                            <a asp-controller="Parameters" asp-action="Parameters" class="menu__link menu__link--inside">Parámetros</a>
                        </li>
                        <li class="menu__inside">
                            <a asp-controller="Users" asp-action="Users" class="menu__link menu__link--inside">Usuario</a>
                        <li class="menu__inside">
                            <a href="#" class="menu__link menu__link--inside menu__inside--border">Tomas Transversales</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item menu__item--show">
                    <a href="#" class="menu__link">Ejecución <img src="~/images/arrow.svg" class="menu__arrow"></a>

                    <ul class="menu__nesting">
                        <li class="menu__inside menu__link--hover">
                            <a asp-controller="ConciliationExecution" asp-action="ConciliationExecution" class="menu__link menu__link--inside menu__link--hover">Conciliaciones</a>
                        </li>
                        <li class="menu__inside menu__inside--border">
                            <a href="#" class="menu__link menu__link--inside menu__inside--border">Aprovación de Resultados</a>
                        </li>

                    </ul>
                </li>
                <li class="menu__item  menu__item--show">
                    <a href="#" class="menu__link">Consulta  <img src="~/images/arrow.svg" class="menu__arrow"></a>

                    <ul class="menu__nesting">
                        <li class="menu__inside menu__link--hover">
                            <a href="#" class="menu__link menu__link--inside menu__link--hover">Resultados</a>
                        </li>
                        <li class="menu__inside menu__inside--border">
                            <a href="#" class="menu__link menu__link--inside menu__inside--border">Indicadores</a>
                        </li>

                    </ul>
                </li>


            </ul>
            <div class="user">
                <p class="type_user">Admin</p>
                <img src="~/images/user_icon.png" class="icon_user"/>
            </div>
            <a asp-area="" asp-controller="Login" asp-action="login" class=" menu_icon_text">Cerrar Sesión</a>

        </section>


    </nav>
</header>


<script>

    (function () {
        const listElements = document.querySelectorAll('.menu__item--show');
        const list = document.querySelector('.menu__links');
        const menu = document.querySelector('.menu__hamburguer');

        const addClick = () => {
            listElements.forEach(element => {
                element.addEventListener('click', () => {


                    let subMenu = element.children[1];
                    let height = 0;
                    element.classList.toggle('menu__item--active');


                    if (subMenu.clientHeight === 0) {
                        height = subMenu.scrollHeight;
                    }

                    subMenu.style.height = `${height}px`;

                });
            });
        }

        const deleteStyleHeight = () => {
            listElements.forEach(element => {

                if (element.children[1].getAttribute('style')) {
                    element.children[1].removeAttribute('style');
                    element.classList.remove('menu__item--active');
                }

            });
        }


        window.addEventListener('resize', () => {
            if (window.innerWidth > 910) {
                deleteStyleHeight();
                if (list.classList.contains('menu__links--show'))
                    list.classList.remove('menu__links--show');

            } else {
                addClick();
            }
        });

        if (window.innerWidth <= 910) {
            addClick();
        }

        menu.addEventListener('click', () => list.classList.toggle('menu__links--show'));



    })();
</script>