@model string;

@{
}

<div class="layout error">
    <p class="text_error font_bold">
        @Model
    </p>
    <i class="icon_error font_bold icon icon_006" onclick="closeMessage()"></i>
</div>

<script>
    const closeMessage = () => {
        document.getElementById('LayoytError').style.display = 'none';
        document.getElementById('btn_container').style.display = 'flex';
    }
</script>
