@model ParameterControl.Models.Login.LoginViewModel

@{
    ViewData["Title"] = "login";
}


<div class="login">  
    <div class="box">
        <div _ngcontent-xow-c136="" class="card_element animate fadeIn one">

            <div asp-validation-summary="ModelOnly" class="text_error"></div>

            <form class="content">
                <p class="logo icon_281 "></p>
                <p class="title">Inicio de sesión</p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="User" class="">Usuario</label>
                    <input asp-for="User" class="input_login" placeholder = "Usuario"/>
                    <span id="UserError" class="text_error"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="">Contraseña</label>
                    <input asp-for="Password" type="password" class="input_login" placeholder="Contraseña" autocomplete="off"/>
                    <span id="PasswordError" class="text_error"></span>
                </div>
                <div id="btn_container" class="btn_container">
                    <a href="javascript:void(0)" onclick="sendData()" class="button button_primary"><p class="text font_bold">Acceder</p></a>
                </div>
                <div id="loading" class="loading">
                    <span class="loader loader_login"></span>
                </div>
             </form>
            <div id="LayoytError" class="layout_content">
                <partial name="_MessageError" />
            </div>

            <div id="LayoytSuccess" class="layout_content">
                <partial name="_MessageSuccess" />
            </div>
            
        </div>
    </div>
        
 </div>
        

@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />

    <script>
        const urlLogin = '@Url.Action("LoginUser")';
        let data;
        let isValidUser = false;
        let isValidPassword = false;

        const sendData = async () => {
            isValidUser = validateInput("User", "El usuario es requerido", "UserError");
            isValidPassword = validateInput("Password", "La contraseña es requerida", "PasswordError");

            if (isValidUser && isValidPassword) {
                document.getElementById('btn_container').style.display = 'none';
                document.getElementById('loading').style.display = 'flex';

                data = {
                    User: $('#User').val(),
                    Password: $('#Password').val(),
                }

                console.log(data);

                const result = await fetch(urlLogin, {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })

                const json = await result.json();

                if (json.state == "Success") {
                    document.getElementById('LayoytSuccess').style.display = 'block';
                    document.getElementById('layout_message_success').innerHTML = json.message;
                    document.getElementById('loading').style.display = 'none';

                    setTimeout(() => {
                        location.href = '/Home/Index';
                    }, 1000)
                } else {
                    document.getElementById('LayoytError').style.display = 'block';
                    document.getElementById('layout_message_error').innerHTML = json.message;
                    document.getElementById('loading').style.display = 'none';
                }
            }
        }

        const validateEmpty = (idInput) => {
            if ($(`#${idInput}`).val() == "" || $(`#${idInput}`).val() == null) {
                return true;
            } else {
                return false;
            }
        }

        const validateInput = (idInput, requiredMessage, idError) => {
            const isEmpty = validateEmpty(idInput);
            if (isEmpty) {
                $(`#${idError}`).text(requiredMessage);
                return false;
            } else {
                $(`#${idError}`).text("");
                return true;
            }
        }

    </script>
}
