@using ParameterControl.Models.Conciliation;
@model Conciliation;

@{
}

<partial name="_Menu" />

<div class="box_edit">
    <div class="bg__blur"></div>
    <div asp-validation-summary="ModelOnly" class="text_error"></div>

    <form asp-controller="Conciliations" asp-action="Edit" class="form__container">
        <div class="card__container">
            <div class="header_form">
                <img src="/images/iconApple.png" />
                <h1>Editar Conciliación</h1>
            </div>

            <div class="form_group">
                <div class="field">
                    <label for="code--conciliations" asp-for="Code" class="label_form">Código*</label>
                    <div class="input">
                        <input type="text" class="code" id="code--conciliations" name="Code" asp-for="Code" readonly />
                    </div>
                    <span asp-validation-for="Code" class="text_error"></span>
                </div>
            </div>

            <div class="form_group">
                <div class="field">
                    <label for="description--conciliations" asp-for="Name" class="label_form">Nombre*</label>
                    <div class="input">
                        <input type="text" class="description" id="description--conciliations" name="Name" asp-for="Name" readonly />
                    </div>
                    <span asp-validation-for="Name" class="text_error"></span>
                </div>
            </div>

            <div class="form_group">
                <div class="field">
                    <label for="package--conciliations" asp-for="Package" class="label_form">Paquete*</label>
                    <div class="input">
                        <input type="text" class="objective" id="package--conciliations" name="Package" asp-for="Package">
                    </div>
                    <span asp-validation-for="Package" class="text_error"></span>
                </div>
            </div>

            <div class="form_group">
                <div class="field">
                    <label for="email--conciliations" asp-for="Email" class="label_form">Email Usuario Asignado*</label>
                    <div class="input">
                        <input type="text" class="objective" id="email--conciliations" name="Email" asp-for="Email">
                    </div>
                    <span asp-validation-for="Email" class="text_error"></span>
                </div>
            </div>

            <div class="form_group">
                <div class="field">
                    <label for="destination--conciliations" asp-for="Destination" class="label_form">Destino</label>
                    <div class="input">
                        <input type="text" class="objective" id="destination--conciliations" name="Destination" asp-for="Destination">
                    </div>
                </div>
            </div>

            <div class="form_group">
                <div class="field">
                    <label for="policies--conciliations" asp-for="Policies" class="label_form">Politica*</label>
                    <div class="input">
                        <input type="text" class="objective" id="policies--conciliations" name="Policies" asp-for="Policies">
                    </div>
                    <span asp-validation-for="Policies" class="text_error"></span>
                </div>
            </div>

            <div class="form_group">
                <div class="field">
                    <label for="required--conciliations" asp-for="Required" class="label_form">Requiere aprobación de resultado*</label>
                    <div class="input">
                        <input type="text" class="objective" id="required--conciliations" name="Required" asp-for="Required">
                    </div>
                    <span asp-validation-for="Required" class="text_error"></span>
                </div>
            </div>

            <p class="note_text"><span>Nota: </span>Los campos con (*) son obligatorios</p>

            <div class="btn_container">
                <a class="button button_secondary" asp-controller="Conciliations" asp-action="Conciliations"><p class="text font_bold">Cancelar</p></a>
                <button type="submit" class="button button_primary"><p class="text font_bold">Actualizar</p></button>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}ipt>