@{
}
<div id="box__policies">
    <div class="bg__blur"></div>
        <form class="form__container">
            <div class="card__container">
                <div class="header_form">
                    <img src="/images/iconApple.png" />
                    <h1>Editar Politica</h1>
                </div>

                <div class="form_group">
                    <label for="code--polices" class="label_form">Código*</label>
                    <input type="text" class="code" id="code--policies" placeholder="COD_001" />
                </div>
                <div class="form_group">
                <label for="description--policies" class="label_form">Descripción*</label>
                    <input type="text" class="description" id="description--policies" placeholder="Descripcion ejemplo" />
                </div>
                <div class="form_group">
                <label for="objective--policies" class="label_form">Objetivos*</label>
                <textarea class="objective" id="objective--policies" placeholder="Objetivo Ejemplo"></textarea>
                </div>

                <p class="note_text"><span>Nota: </span>Los campos con (*) son obligatorios</p>

                <div class="btn_container">
                <button class="button button_secondary" onclick="policiesHidden()"><p class="text font_bold">Cancelar</p></button>
                <button class="button button_primary"><p class="text font_bold">Actualizar</p></button>
                </div>
            </div>
        </form>
    </div>
    

<script>
   
</script>