@{
}

<div id="box__policies-delete">
    <div class="bg__blur"></div>
    <form class="form__container">

        <div class="card__container">
            <div class="header_form">
                <img src="/images/iconApple.png" />
                <h1>Desactivar Politica</h1>
                <h2>¿Está seguro de desactivar la politica?</h2>
            </div>

            <div class="form_group">
                <p class="title_form">Código:</p>
                <p>COD_001</p>
            </div>
            <div class="form_group">
                <p class="title_form">Descripción:</p>
                <p>Descripcion ejemplo</p>
            </div>
            <div class="form_group">
                <p class="title_form">Objetivos:</p>
                <p>Objetivo Ejemplo</p>
            </div>

            <div class="btn_container">
                <button class="btn_cancel" onclick="policiesDeleteHidden()"><p class="btn_text">Cancelar</p></button>
                <button class="btn_update"><p class="btn_text">Desactivar</p></button>
            </div>
        </div>
    </form>
</div>