@{
}

<div id="box__policies-delete">
    <div class="bg__blur"></div>
    <form class="form__container">

        <div class="card__container">
            <div class="header_form">
                <img src="/images/iconApple.png" />
                <h1>Desactivar Politica</h1>
                <h2>¿Está seguro de desactivar la politica?</h2>
            </div>

            <div class="btn_container">
                <button class="button button_secondary" onclick="policiesDeleteHidden()"><p class="text font_bold">Cancelar</p></button>
                <button class="button button_primary"><p class="text font_bold">Desactivar</p></button>
            </div>
        </div>
    </form>
</div>