@{
}

<div id="box__policies-view">
    <div class="bg__blur"></div>
    <form class="form__container">

        <div class="card__container">
            <div class="header_form">
                <img src="/images/iconApple.png" />
                <h1>Detalles de la Politica</h1>
            </div>

            <div class="form_group">
                <p class="title_form">Código:</p>
                <p>COD_001</p>
            </div>
            <div class="form_groupm">
                <p class="title_form">Descripción:</p>
                <p>Descripcion ejemplo</p>
            </div>
            <div class="form_group">
                <p class="title_form">Objetivos:</p>
                <p>Objetivo Ejemplo</p>
            </div>

            <div class="btn_container">
                <button class="btn_cancel btn_cancel-view" onclick="policiesViewHidden()"><p class="btn_text">Cancelar</p></button>
            </div>
        </div>
    </form>
</div>