@using ParameterControl.Models.Policy;
@model Policy;

@{
    ViewData["Title"] = "Desactivar Politicas";
    string ErrorEntyNull = "No existe una politica con el codigo " + ViewBag.CodeSend + ",Policies";
    string ErrorSuccess = "Se genero un problema al obtener la informacion,Policies";
}

<partial name="_Menu" model="@ViewBag.InfoUser" />

@if (!ViewBag.Success)
{
    <partial name="_ModalError" model="ErrorSuccess" />
}
else
{
    @if (ViewBag.EntyNull)
    {
        <partial name="_ModalError" model="ErrorEntyNull" />
    }
    else
    {
        <div class="box_delete">
            <div class="bg__blur"></div>
            <form class="form__container">

                <div class="card__container">
                    <div class="header_form">
                        <img src="/images/iconApple.png" />
                        <h1>Desactivar Politica</h1>
                        <h2 class="text_break">¿Está seguro de desactivar la politica @Model.Name?</h2>
                    </div>

                    <input type="hidden" asp-for="Code" />

                    <div id="btn_container" class="btn_container">
                        <a class="button button_secondary" asp-controller="Policies" asp-action="Policies"><p class="text font_bold">Cancelar</p></a>
                        <a href="javascript:void(0)" onclick="sendData()" class="button button_primary"><p class="text font_bold">Desactivar</p></a>
                    </div>
                    <div id="loading" class="loading">
                        <span class="loader"></span>
                    </div>
                    <div id="LayoytError" class="layout_content">
                        <partial name="_MessageError" />
                    </div>
                    <div id="LayoytSuccess" class="layout_content">
                        <partial name="_MessageSuccess" />
                    </div>
                </div>
            </form>
        </div>

        @section Scripts {
            <script>
                const urlPolicy = '@Url.Action("DesactivePolicy")';
                let data;

                const sendData = async () => {

                    document.getElementById('btn_container').style.display = 'none';
                    document.getElementById('loading').style.display = 'flex';

                    data = $('#Code').val();

                    console.log(data)

                    const result = await fetch(urlPolicy, {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })

                    const json = await result.json();

                    console.log(json);

                    if (json.state == "Success") {
                        document.getElementById('LayoytSuccess').style.display = 'block';
                        document.getElementById('layout_message_success').innerHTML = json.message;
                        document.getElementById('loading').style.display = 'none';
                        setTimeout(() => {
                            location.href = '/Policies/Policies';
                        }, 3000)
                    } else {
                        document.getElementById('LayoytError').style.display = 'block';
                        document.getElementById('layout_message_error').innerHTML = json.message;
                        document.getElementById('loading').style.display = 'none';
                    }

                }
            </script>
        }
    }
}
