@using ParameterControl.Models.CrossConnection
@model CrossConnectionViewModel

@{
    ViewData["Title"] = "Ver toma transversal";
}

<partial name="_Menu" />

<div class="box_view">
    <div class="bg__blur"></div>
    <form class="form__container">

        <div class="card__container">
            <div class="header_form">
                <img src="/images/iconApple.png" />
                <h1>Detalles de la toma transversal</h1>
            </div>

            <div class="form_group">
                <p class="title_form">Código:</p>
                <p>@Model.Code</p>
            </div>
            <div class="form_groupm">
                <p class="title_form">Nombre:</p>
                <p>@Model.Name</p>
            </div>
            <div class="form_group">
                <p class="title_form">Estado:</p>
                <p>@Model.Status</p>
            </div>

            <div class="btn_container">
                <a class="button button_secondary btn_cancel-view" asp-controller="CrossConnections" asp-action="CrossConnections"><p class="text font_bold">Cancelar</p></a>
            </div>
        </div>
    </form>
</div>
