.content_parameters {
    margin-top: 65px;
    position: absolute;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: -11;
    max-width: calc(100% - 2px);
}

.content_parameters .card_parameters {
    position: relative;
    width: min-content;
    max-width: calc(100% - 40px);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    border-radius: var(--radius_card_element);
}

.content_parameters .card_parameters .titulation {
    display: block;
    width: 100%;
    margin-bottom: 24px;
}

.content_parameters .card_parameters .titulation .title_table {
    width: 100%;
    text-align: center;
    color: var(--texts);
    font-size: 24px;
}

.content_parameters .card_parameters .titulation .button {
    width: 100%;
    padding: 0px;
    color: var(--pure-white);
}

.content_parameters .card_parameters .list {
    width: 100%;
    height: calc(100% - 64px);
    max-height: calc(100vh - 296px);
}

.content_parameters .card_parameters .list .element_table {
    width: 100%;
    height: 100%;
}

.content_parameters .card_parameters .list .element_table .content_filter {
    justify-content: flex-start;
    position: relative;
    width: auto;
    margin-bottom: 12px;
    z-index: 3;
}

.content_parameters .card_parameters .list .element_table .content_filter .button {
    width: 100%;
    text-align: center;
}

.content_parameters .card_parameters .list .element_table .content_filter .button_secondary {
    margin-top: 8px;
}

.content_parameters .card_parameters .list .element_table .content_table {
    position: relative;
    width: 100%;
    max-width: calc(100vw - 2px);
    height: calc(100vh - 470px);
    border: 1px solid var(--br_table);
    border-radius: var(--radius_table);
    overflow-x: auto;
    z-index: 2;
}

.content_parameters .card_parameters .list .element_table .content_table .tables {
    flex-wrap:wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: var(--radius_table);
}

.content_parameters .card_parameters .list .element_table .content_table .tables .columns {
    display: inline-flex;
    position: sticky;
    top: 0px;
    background-color: var(--bg_columns_table);
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--br_table);
    z-index: 2;
}

.content_parameters .card_parameters .list .element_table .content_table .tables .columns .column,
.content_parameters .card_parameters .list .element_table .content_table .tables .rows .row_table {
    justify-content: stretch;
    position: relative;
    width: 192px;
    height: auto;
    padding: 8px 8px;
    text-align: left;
    z-index: 2;
}

.content_parameters .card_parameters .list .element_table .content_table .tables .columns .column.actions {
    width: 194px;
}

.content_parameters .card_parameters .list .element_table .content_table .tables .columns .column.order {
    cursor: pointer;
}


.content_parameters .card_parameters .list .element_table .content_table .tables .columns .column .text {
    position: relative;
    width: 100%;
    color: var(--texts);
    font-size: 16px;
    text-overflow: Ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 2;
    display: block;
}

.content_parameters .card_parameters .list .element_table .content_table .tables .columns .column.actions .text {
    text-align: center;
}

.content_parameters .card_parameters .list .element_table .content_table .tables .columns .column.order .text {
    width: calc(100% - 24px);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
}

.content_parameters .card_parameters .list .element_table .content_table .tables .columns .column .text::first-letter {
    text-transform: capitalize;
}

.content_parameters .card_parameters .list .element_table .content_table .tables .rows {
    display: inline-flex;
    position: relative;
    min-height: 58px;
    background-color: var(--bg_rows_table);
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--br_table);
    z-index: 1;
}

.content_parameters .card_parameters .list .element_table .content_table .tables .rows.disabled {
    background-color: var(--bg_row_blocked);
}

.content_parameters .card_parameters .list .element_table .content_table .tables .rows.disabled .row_table.actions .button_icon.disabled {
    background-color: transparent;
    cursor: not-allowed;
}

.content_parameters .card_parameters .list .element_table .content_table .tables .rows.disabled .row_table.actions .button_icon.disabled .icon {
    color: var(--tx_disabled);
}

.content_parameters .card_parameters .list .element_table .content_table .tables .rows .row_table .text {
    position: relative;
    width: 100%;
    color: var(--texts);
    font-size: 14px;
    z-index: 2;
    text-overflow: Ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    margin-right: 20px;
    display: block;
}

.content_parameters .card_parameters .list .element_table .content_table .tables .rows .row_table .text::first-letter {
    text-transform: uppercase;
}

.content_parameters .card_parameters .list .element_table .pagination {
    position: relative;
    width: auto;
    max-width: 100%;
    margin-top: 16px;
    z-index: 1;
}

.content_parameters .card_parameters .list .element_table .pagination .custom_pagination.pagination_mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content_parameters .card_parameters .list .element_table .pagination .custom_pagination.pagination_mobile .button {
    width: 96px;
}

.content_parameters .card_parameters .list .element_table .pagination .custom_pagination.pagination_mobile .button .icon {
    margin: 0px 4px;
}

.content_parameters .card_parameters .list .element_table .pagination .custom_pagination.pagination_mobile .button .text {
    max-width: calc(100% - 24px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content_parameters .card_parameters .list .element_table .pagination .custom_pagination.pagination_mobile .pages {
    width: auto;
    color: var(--texts);
    font-size: 16px;
    text-align: center;
    text-overflow: Ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: .48;
}

.content_parameters .card_parameters .list .element_table .pagination .custom_pagination.pagination_desktop {
    display: none;
}

@media (min-width: 910px) {
    .content_parameters {
        max-width: calc(100% - 40px);
        height: calc(100% - 65px);
    }

    .content_parameters .card_parameters {
        max-height: calc(100vh - 194px);
        margin-left: 20px;
    }

    .content_parameters .card_parameters .titulation {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 24px;
    }

    .content_parameters .card_parameters .titulation .title_table {
        width: auto;
        text-align: start;
    }

    .content_parameters .card_parameters .titulation .button {
        width: auto;
        padding: 0 16px;
        margin-left: 16px;
    }

    .content_parameters .card_parameters .list {
        height: calc(100% - 64px);
        max-height: calc(100vh - 296px);
        padding-right: 4px;
    }

    .content_parameters .card_parameters .list .element_table .content_filter {
        align-content: flex-end;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .content_parameters .card_parameters .list .element_table .content_filter .button {
        width: auto;
        text-align: center;
    }

    .content_parameters .card_parameters .list .element_table .content_filter .button_secondary {
        margin-left: 8px;
    }

    .content_parameters .card_parameters .list .element_table .content_table {
        max-width: -webkit-min-content;
        max-width: -moz-min-content;
        max-width: min-content;
        max-height: calc(100% - 116px);
        overflow-y: auto;
        overflow-x: auto;
    }

    .content_parameters .card_parameters .list .element_table .pagination .custom_pagination.pagination_mobile {
        display: none;
    }

    .content_parameters .card_parameters .list .element_table .pagination .custom_pagination.pagination_desktop {
        width: 100%;
        display: flex;
    }

    .content_parameters .card_parameters .list .element_table .pagination .custom_pagination.pagination_desktop .navigator {
        justify-content: flex-start;
        width: 100%;
        margin-top: 8px;
    }

    .content_parameters .card_parameters .list .element_table .pagination .custom_pagination.pagination_desktop .navigator .button:last-child {
        margin-left: 8px;
    }
}


