@using ParameterControl.Models.Policy
@model TablePoliciesViewModel

@{
    ViewData["Title"] = "Politicas";
}

<partial name="_Menu"/>
<div class="content_policies">
    <partial name="_TablePolicies" model="Model" />
    <partial name="Actions/_CreatePolicy.cshtml" model="Model" />
</div>

@section Scripts{
    <script>
        console.log("hola munfdo");
    </script>
}
