@using ParameterControl.Models.Scenery;
@model Scenery;

@{
    ViewData["Title"] = "Activar Escenarios";
    string MessageError = "Error al activar el escenario";
    string MessageSuccess = "El escenario se activo correctamente";
}

<partial name="_Menu" />

<div class="box_delete">
    <div class="bg__blur"></div>
    <form class="form__container">

        <div class="card__container">
            <div class="header_form">
                <img src="/images/iconApple.png" />
                <h1>Activar Escenario</h1>
                <h2 class="text_break">¿Está seguro de activar el escenario @Model.Name?</h2>
            </div>

            <input type="hidden" asp-for="Code" />

            <div id="btn_container" class="btn_container">
                <a class="button button_secondary" asp-controller="Scenarios" asp-action="Scenarios"><p class="text font_bold">Cancelar</p></a>
                <a href="javascript:void(0)" onclick="sendData()" class="button button_primary"><p class="text font_bold">Activar</p></a>
            </div>
            <div id="loading" class="loading">
                <span class="loader"></span>
            </div>
            <div id="LayoytError" class="layout_content">
                <partial name="_MessageError" model="MessageError" />
            </div>
            <div id="LayoytSuccess" class="layout_content">
                <partial name="_MessageSuccess" model="MessageSuccess" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        const urlScenery = '@Url.Action("ActiveScenery")';
        let data;

        const sendData = async () => {

            document.getElementById('btn_container').style.display = 'none';
            document.getElementById('loading').style.display = 'flex';

            data = $('#Code').val();


            console.log(data)

            const result = await fetch(urlScenery, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            const json = await result.json();

            console.log(json);

            if (json.state == "Success") {
                document.getElementById('LayoytSuccess').style.display = 'block';
                document.getElementById('layout_message_success').innerHTML = json.message;
                document.getElementById('loading').style.display = 'none';
                setTimeout(() => {
                    location.href = '/Scenarios/Scenarios';
                }, 3000)
            } else {
                document.getElementById('LayoytError').style.display = 'block';
                document.getElementById('layout_message_error').innerHTML = json.message;
                document.getElementById('loading').style.display = 'none';
            }

        }
    </script>
}