@using ParameterControl.Models.Scenery;
@model Scenery;

@{
}

<partial name="_Menu" />

<div class="box_edit">
    <div class="bg__blur"></div>
    <form asp-controller="Scenerios" class="form__container">
        <div class="card__container">
            <div class="header_form">
                <img src="/images/iconApple.png" />
                <h1>Editar Escenario</h1>
            </div>

            <div class="form_group">
                <label for="code--scenarios" asp-for="Code" class="label_form">Código*</label>
                <input type="text" class="code" id="code--scenarios" name="Code" asp-for="Code" readonly />
            </div>
            <div class="form_group">
                <label for="name--scenarios" asp-for="Name" class="label_form">Nombre*</label>
                <input type="text" class="description" id="description--scenarios" name="Name" asp-for="Name" readonly />
            </div>
            <div class="form_group">
                <label for="impact--scenarios" asp-for="Impact" class="label_form">Impacto</label>
                <textarea class="objective" id="impact--scenarios" name="Impact" asp-for="Impact"></textarea>
            </div>
            <div class="form_group">
                <label for="conciliation--scenarios" asp-for="Conciliation" class="label_form">Conciliación*</label>
                <textarea class="objective" id="conciliation--scenarios" name="Conciliation" asp-for="Conciliation"></textarea>
            </div>

            <p class="note_text"><span>Nota: </span>Los campos con (*) son obligatorios</p>

            <div class="btn_container">
                <a class="button button_secondary" asp-controller="Scenarios" asp-action="Scenarios"><p class="text font_bold">Cancelar</p></a>
                <button class="button button_primary"><p class="text font_bold">Actualizar</p></button>
            </div>
        </div>
    </form>
</div>


<script>

</script>